*{ 
    margin: 8.5px;
    transition-duration: 2.2s;
    text-align: center;
    justify-content: center;
}

body {

    padding-top: 10%;

}

h1{
    width: 8vw;
    margin: auto;
    font-size: 0px;
}

.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button2 {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }